{{template "header" .}}
<div class="p-8 w-full">
	<h1 class="pt-4 pb-8 text-3xl font-bold text-gray-800">{{.Title}}</h1>
	<div class="columns-4 gap-4 space-y-4">
      {{range .Images}}
				<div class="h-min w-full">
					<a href="/galleries/{{.GalleryID}}/images/{{.Filename}}"><img
										src="/galleries/{{.GalleryID}}/images/{{.Filename}}" class="w-full"></a>
				</div>
      {{end}}
	</div>
</div>
{{template "footer" .}}